name: 02 - Workflow Events
on: 
  push:
  pull_request:
  schedule:
    - cron: '0/1 * * * *'
  workflow_dispatch:

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: echo "event runs by ${{ github.event_name }}"


    